# Auto detect text files and perform LF normalization
* text=auto

node_modules/

.env

node_crash_course-master/

express_crash_course-master/

Public/bootstrap_cheatsheet/

Public/filterablelist/

Public/Higher Order Function Ref/

Public/Refrences/